body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app.light {
  background: #e23636;
  color: #111;
}

.app.dark {
  background: #050505;
  color: #f5f5f5;
}

.todo-box {
  width: 400px;
  padding: 25px;
  border-radius: 12px;
}

.app.light .todo-box {
  background: #ffffff;
  border: 5px solid #1f75fe;
}

.app.dark .todo-box {
  background: #111111;
  border: 5px solid #6fff57;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-row,
.filter-row {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.active-filter {
  background: #1b1b1b;
  color: white;
}

.todo-list {
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}